@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  background-image: url(../img/bg.svg);
  background-position-x: center;
  background-position-y: -715px;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}
.card h2 {
  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

/*${createCard("28/11", "segunda", createGame())}
         ${createCard("02/12", "sexta", createGame())}  */